.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
anaconda_projects/

data/processed/*
models/*
reports/*

!data/raw/
!data/raw/*.csv
!data/processed/.gitkeep
!models/.gitkeep
!reports/.gitkeep

*.pkl
*.joblib
*.h5
*.pt
*.pth
