.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
anaconda_projects/

data/raw/*
!data/raw/*.csv
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

models/*
!models/.gitkeep

reports/*
!reports/.gitkeep

*.pkl
*.joblib
*.h5
*.pt
*.pth
